/build/
/.gradle/
/.nb-gradle/

/ly-core/.gradle/
/ly-core/.nb-gradle/
/ly-core/build/
/ly-core/build-target/
/ly-core/dec/
/ly-core/nbproject/
/ly-core/preview-application.html
/ly-core/openal.dylib
/ly-core/master-application.jnlp
/ly-core/lwjgl64.dll
/ly-core/build.xml
/ly-core/bulletjme64.dll
/ly-core/liblwjgl.dylib
/ly-core/OpenAL64.dll
/ly-core/MANIFEST.MF
/ly-core/jre

/ly-core/assets/3d_objects/
/ly-core/assets/Interface/
/ly-core/assets/Models/
/ly-core/assets/Scenes/
/ly-core/assets/Sounds/
/ly-core/assets/Textures/
/ly-core/assets/____test/

/ly-android/.gradle/
/ly-android/.nb-gradle/
/ly-android/bin/
/ly-android/build/
/ly-android/gen/
/ly-android/nbandroid/
/ly-android/private/

/ly-android-ad/.gradle/
/ly-android-ad/.nb-gradle/
/ly-android-ad/build/
/ly-android-ad/dist/
/ly-android-ad/nbproject/
/ly-android-ad/build.xml
/ly-core/dist/
/ly-core/mobile/assets/
/ly-core/mobile/libs/
/ly-core/libs/
/ly-core/bulletjme.dll
/ly-core/resources/
/ly-core/dist_example/
/ly-core/resources_gradle/
/ly-android/libs/