/build/
/.gradle/
/.nb-gradle/

/ly-kernel/.gradle/
/ly-kernel/.nb-gradle/
/ly-kernel/build/
/ly-kernel/build-target/
/ly-kernel/dec/
/ly-kernel/nbproject/
/ly-kernel/preview-application.html
/ly-kernel/openal.dylib
/ly-kernel/master-application.jnlp
/ly-kernel/lwjgl64.dll
/ly-kernel/build.xml
/ly-kernel/bulletjme64.dll
/ly-kernel/liblwjgl.dylib
/ly-kernel/OpenAL64.dll
/ly-kernel/MANIFEST.MF
/ly-kernel/jre
/ly-kernel/assets/3d_objects/
/ly-kernel/assets/Interface/
/ly-kernel/assets/Models/
/ly-kernel/assets/Scenes/
/ly-kernel/assets/Sounds/
/ly-kernel/assets/Textures/
/ly-kernel/assets/____test/
/ly-kernel/dist/
/ly-kernel/mobile/assets/
/ly-kernel/mobile/libs/
/ly-kernel/libs/
/ly-kernel/bulletjme.dll
/ly-kernel/resources/
/ly-kernel/dist_example/
/ly-kernel/resources_gradle/
/ly-kernel/mobile/bin/
/ly-kernel/mobile/gen/

/ly-android/.gradle/
/ly-android/.nb-gradle/
/ly-android/bin/
/ly-android/build/
/ly-android/gen/
/ly-android/nbandroid/
/ly-android/private/
/ly-android/libs/

/ly-editor/nbproject/private/
/ly-editor/build/
/ly-editor/dist/

/ly-game/build/
/ly-game/nbproject/private/