/build/
/.gradle/
/.nb-gradle/

/ly-kernel/.gradle/
/ly-kernel/.nb-gradle/
/ly-kernel/build/
/ly-kernel/nbproject/
/ly-kernel/build.xml
/ly-kernel/MANIFEST.MF
/ly-kernel/dist/
/ly-kernel/libs/

/ly-editor/nbproject/private/
/ly-editor/build/
/ly-editor/dist/

/ly-luoying-desktop/.gradle/
/ly-luoying-desktop/.nb-gradle/
/ly-luoying-desktop/build/
/ly-luoying-desktop/build-target/
/ly-luoying-desktop/dec/
/ly-luoying-desktop/nbproject/
/ly-luoying-desktop/preview-application.html
/ly-luoying-desktop/openal.dylib
/ly-luoying-desktop/master-application.jnlp
/ly-luoying-desktop/lwjgl64.dll
/ly-luoying-desktop/build.xml
/ly-luoying-desktop/bulletjme64.dll
/ly-luoying-desktop/liblwjgl.dylib
/ly-luoying-desktop/OpenAL64.dll
/ly-luoying-desktop/MANIFEST.MF
/ly-luoying-desktop/assets/3d_objects/
/ly-luoying-desktop/assets/Interface/
/ly-luoying-desktop/assets/Models/
/ly-luoying-desktop/assets/Scenes/
/ly-luoying-desktop/assets/Sounds/
/ly-luoying-desktop/assets/Textures/
/ly-luoying-desktop/dist/
/ly-luoying-desktop/mobile/assets/
/ly-luoying-desktop/mobile/libs/
/ly-luoying-desktop/libs/
/ly-luoying-desktop/bulletjme.dll
/ly-luoying-desktop/resources/
/ly-luoying-desktop/dist_example/
/ly-luoying-desktop/resources_gradle/



/ly-luoying-desktop3/.gradle/
/ly-luoying-desktop3/.nb-gradle/
/ly-luoying-desktop3/build/
/ly-luoying-desktop3/build-target/
/ly-luoying-desktop3/dec/
/ly-luoying-desktop3/nbproject/
/ly-luoying-desktop3/preview-application.html
/ly-luoying-desktop3/openal.dylib
/ly-luoying-desktop3/master-application.jnlp
/ly-luoying-desktop3/lwjgl64.dll
/ly-luoying-desktop3/build.xml
/ly-luoying-desktop3/bulletjme64.dll
/ly-luoying-desktop3/liblwjgl.dylib
/ly-luoying-desktop3/OpenAL64.dll
/ly-luoying-desktop3/MANIFEST.MF
/ly-luoying-desktop3/assets/3d_objects/
/ly-luoying-desktop3/assets/Interface/
/ly-luoying-desktop3/assets/Models/
/ly-luoying-desktop3/assets/Scenes/
/ly-luoying-desktop3/assets/Sounds/
/ly-luoying-desktop3/assets/Textures/
/ly-luoying-desktop3/dist/
/ly-luoying-desktop3/mobile/assets/
/ly-luoying-desktop3/mobile/libs/
/ly-luoying-desktop3/libs/
/ly-luoying-desktop3/bulletjme.dll
/ly-luoying-desktop3/resources/
/ly-luoying-desktop3/dist_example/
/ly-luoying-desktop3/resources_gradle/


/ly-luoying-android/.gradle/
/ly-luoying-android/.nb-gradle/
/ly-luoying-android/bin/
/ly-luoying-android/build/
/ly-luoying-android/gen/
/ly-luoying-android/nbandroid/
/ly-luoying-android/libs/
/ly-luoying-android/libs-doc/
/ly-luoying-android/private/

/ly-sample/SimpleRpgGame/build/
/ly-sample/SimpleRpgGame/.gradle/
/ly-sample/SimpleRpgGame/.nb-gradle/
/ly-sample/SimpleRpgGame/build/
/ly-sample/SimpleRpgGame/nbproject/
/ly-sample/SimpleRpgGame/preview-application.html
/ly-sample/SimpleRpgGame/openal.dylib
/ly-sample/SimpleRpgGame/master-application.jnlp
/ly-sample/SimpleRpgGame/lwjgl64.dll
/ly-sample/SimpleRpgGame/build.xml
/ly-sample/SimpleRpgGame/bulletjme64.dll
/ly-sample/SimpleRpgGame/liblwjgl.dylib
/ly-sample/SimpleRpgGame/OpenAL64.dll
/ly-sample/SimpleRpgGame/MANIFEST.MF
/ly-sample/SimpleRpgGame/assets/3d_objects/
/ly-sample/SimpleRpgGame/assets/Interface/
/ly-sample/SimpleRpgGame/assets/Models/
/ly-sample/SimpleRpgGame/assets/Scenes/
/ly-sample/SimpleRpgGame/assets/Sounds/
/ly-sample/SimpleRpgGame/assets/Textures/
/ly-sample/SimpleRpgGame/dist/
/ly-sample/SimpleRpgGame/libs/
/ly-sample/SimpleRpgGame/bulletjme.dll
