.scroll-bar{
    -fx-background-color: rgb(110, 110, 110);
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(140, 140, 140);
 /*-fx-background-insets: 4 0 4 0;*/
 -fx-background-insets: 2 0 2 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(140, 140, 140);
 /*-fx-background-insets: 0 4 0 4;*/
 -fx-background-insets: 0 2 0 2;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    /*-fx-background-color: rgb(150, 150, 150);*/
    -fx-background-color: linear-gradient(rgb(140, 140, 140), rgb(180, 180, 180), rgb(140, 140, 140));
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 /*-fx-background-color: rgb(150, 150, 150);*/
    -fx-background-color: linear-gradient(rgb(140, 140, 140), rgb(180, 180, 180), rgb(140, 140, 140));
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 /*-fx-padding: 5;*/
 -fx-padding: 4;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 /*-fx-padding: 5;*/
 -fx-padding: 4;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(140, 140, 140);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(140, 140, 140);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(140, 140, 140);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(140, 140, 140);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(110, 110, 110), rgb(110,110,110);
}