/*https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html*/
/** 注：pseudo选择器中的":"号之间不能留空格 */
/*
.list-view .list-cell:empty {-fx-background-color: lightgray;}
.list-view .list-cell:filled {-fx-background-color: lightgray;}
.list-view .list-cell:even {-fx-background-color: tan;}
.list-view .list-cell:odd {-fx-background-color: lightgray;}
.list-view .list-cell:selected {-fx-background-color: lightgray;}
*/

/** for all common HBox and VBox */
.hv-box {
    -fx-padding: 0;
}

.text-field {
    -fx-background-radius: 7;
    -fx-border-width: 0;
}

.titled-pane {
    -fx-animated: false;
    -fx-collapsible: true;
    -fx-padding:0;
}
.titled-pane > .title {
    -fx-background-color: lightgray;
    -fx-background-radius:0;
    -fx-alignment: CENTER_LEFT;
}
.titled-pane > .title > .text {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: black;
}
.titled-pane > .content {
    -fx-background-color: lightgray;
    -fx-border-width:0;
    -fx-padding: 5;
    -fx-alignment: CENTER_LEFT;
}

/* list-view */
.list-view {
    -fx-border-width: 0;
    -fx-background-color:lightgray;
}
.list-view .list-cell {
    -fx-background-radius: 10;
}

.color-picker {
    -fx-background-radius: 7;
}
.color-palette .hyperlink {
    visibility: visible;
}

/*.toggle-button {
    -fx-background-radius: 7;
    -fx-border-width:1;
    -fx-border-color:lightgray;
}*/
/*.toggle-button:selected {
    -fx-background-color: lightgray;
}*/


