/*https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html*/
/** 注：pseudo选择器中的":"号之间不能留空格 */



/** for all common HBox and VBox */
.hv-box {
    -fx-padding: 0;
}

.text-field {
    -fx-background-radius: 7;
    -fx-border-width: 0;
}

.titled-pane {
    -fx-animated: false;
    -fx-collapsible: true;
    -fx-padding:0;
}
.titled-pane > .title {
    -fx-background-color: lightgray;
    -fx-background-radius:0;
    -fx-alignment: CENTER_LEFT;
}
.titled-pane > .title > .text {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: black;
}
.titled-pane > .content {
    -fx-background-color: lightgray;
    -fx-border-width:0;
    -fx-padding: 5;
    -fx-alignment: CENTER_LEFT;
}

/* list-view */
.list-view {
    -fx-border-width: 0;
    -fx-background-color:lightgray;
}

.list-view .list-cell {
    -fx-background-radius: 10;
}

/* color-picker */
.color-picker {
    -fx-background-radius: 7;
}

/** tree-view */
.tree-view, .tree-view:focused {
    /*让tree-view背景透明，这可以让它在放到tab中的时候，不会在标题处产生一个明显的阻隔的线条*/
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

/** see StyleConstants */
.toolbarButton {
    -fx-padding: 2 2 2 2;
}

/** 状态栏样式 */
.statusBar {
    -fx-background-color: lightgray;
    -fx-border-style: solid inside;
    -fx-border-width: 1 0 0 0; 
    -fx-border-color: #c0c0c0;
}

/** ---- test---- */
/*.color-palette .hyperlink {
    visibility: visible;
}*/

/*.toggle-button {
    -fx-background-radius: 7;
    -fx-border-width:1;
    -fx-border-color:lightgray;
}*/
/*.toggle-button:selected {
    -fx-background-color: lightgray;
}*/

/** 去掉获得焦点时的高亮边框 */
/*.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused{
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}*/


